
<div class = "cocktail-edit-container" style = "margin-top: 16%">

<div class="container">
  <div class="table">
    <div class="glassHead">
      <div class="strawContainer">
        <div class="straw">
        </div>
        <div class="lemon">
        </div>
        <div class="ice">
        </div>
        <div class="ice ice2">
        </div>
        <div class="ice ice3">
        </div>
      </div>
    </div>
    <div class="liquid2">
    </div>
    <div class="liquid">
    </div>
    <div class="glassBar">
    </div>
    <div class="glassFoot">
    </div>
  </div>

</div>





<div class="form-page pt-3">
  <div class="form-div container pt-3">
    <h1>Edit Cocktail</h1>

    <%= simple_form_for(@cocktail) do |f| %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :photo %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn-new'  %>

      </div>
    <% end %>
  </div>
</div>
</div>
