
<html>
<head>
  <link rel="stylesheet" href="tiles.scss">
</head>
<body>

<header>
      <div class="navbar">
        <ul class="nav">

        </ul>

        <div class="logo">
          <img src="#">
        </div>
      </div>
    </header>



<div class="gradiant"></div>
  <div class="video">
  <%= video_tag "People Partying At The Beach.mp4", autoplay: "autoplay", id: "video", muted: true, width: "100%", loop: "true", :class => "video"%>
  </div>


  <div class="header-container">
    <div class = header-content>
    <li class="item">
          <a class="link link--kukuri" href="#" data-letters="Kukuri">Home</a>

          </li>

          <li class="item">
            <a class="link link--kukuri" href="#" data-letters="Kukuri">Blog</a>

          </li>

          <li class="item">
            <a class="link link--kukuri" href="#" data-letters="Kukuri">About</a>

          </li>

          <li class="item">
            <a class="link link--kukuri" href="#" data-letters="Kukuri">Contact</a>

          </li>
          </div>

    <h1 class = title><b>Best bar in London</b></h1>
    <p>Search for your favourite cocktail</p>
    <div class="new-search">
    </div>
  </div>





<% @cocktails.each do |cocktail| %>
<div class="project">

  <div class="project__card">


    <a href="" class="project__image"><img src="https://d32miag6ta013h.cloudfront.net/master_cocktails/1348/en-ca/small/525x525_roman-cosmo-martini-cocktail.jpg" width=600 height=400 alt=""></a>

    <div class="project__detail">

      <h2 class="project__title"><a href="#"> <%= link_to cocktail.name, cocktail_path(cocktail) %></a></h2>

      <small class="project__category"><a href="#">Photography</a></small>

    </div>

  </div>

</div>
<% end %>













</html>
