
<html>
<head>
  <link rel="stylesheet" href="tiles.scss">
</head>
<body>

<header>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">Home</a>
          </li>

          <li class="item">
            <a href="#">Blog</a>
          </li>

          <li class="item">
            <a href="#">About</a>
          </li>

          <li class="item">
            <a href="#" >Contact</a>
          </li>
        </ul>

        <div class="logo">
          <img src="#">
        </div>
      </div>
    </header>



<div class="gradiant"></div>
  <div class="video">
  <%= video_tag "People Partying At The Beach.mp4", autoplay: "autoplay", id: "video", muted: true, width: "100%", loop: "true", :class => "video"%>
  </div>


  <div class="header-container">

    <h1 class = title><b>Best bar in London</b></h1>
    <p>Search for your favourite cocktail</p>
    <div class="new-search">
    </div>
  </div>




<div class="project">

  <div class="project__card">

    <a href="" class="project__image"><img src="https://d32miag6ta013h.cloudfront.net/master_cocktails/1348/en-ca/small/525x525_roman-cosmo-martini-cocktail.jpg" width=600 height=400 alt=""></a>

    <div class="project__detail">

      <h2 class="project__title"><a href="#">Project Name</a></h2>

      <small class="project__category"><a href="#">Photography</a></small>

    </div>

  </div>

</div>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All cocktails</h1>
      <ul class="list-group">

        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= cl_image_tag("cocktail", width: 300, height: 200, crop: :fill) %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script src="tilt.jquery.js"></script>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="js/jquery.hover3d.js" ></script>


</html>
