
<html>

<head>
  <link rel="stylesheet" href="tiles.scss">
</head>
<body>

<header>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">Home</a>
          </li>

          <li class="item">
            <a href="#">Blog</a>
          </li>

          <li class="item">
            <a href="#">About</a>
          </li>

          <li class="item">
            <a href="#">Contact</a>
          </li>
        </ul>


      </div>
    </header>
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>

<div class="button" style = "font-size: 13px">
  <p><%= link_to "Add a new cocktail",  new_cocktail_path%></p>
</div>


<div id="loader" style="margin-top: 1%">
    <div id="lemon"></div>
    <div id="straw"></div>
    <div id="glass">
        <div id="cubes">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="drink"></div>
        <span id="counter"></span>
    </div>
    <div id="coaster"></div>

<footer>Please wait while<br>we fill up your glass...</footer>
</div>






<div class = "cocktails-container" style = "margin-top: 65%">
<% @cocktails.each do |cocktail| %>

<div class="cards" style = " margin-top: 6%;">


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1418358/pexels-photo-1418358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
     <%= link_to  cocktail.name, cocktail_path(cocktail)%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/302515/pexels-photo-302515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
     <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
     <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>


</div>

<% end %>
</div>







</body>
</html>




<!--
  Please note: this code is in no way ready to be used as is in production on your website. It will need to be adapted to be cross browser compliant & accessible. I just wanted to share how one might go about this effect with CSS & JS and no other dependencies
-->
