<div class="gradiant"></div>
  <div class="video">
  <%= video_tag "People Partying At The Beach.mp4", autoplay: "autoplay", id: "video", muted: true, width: "100%", loop: "true", :class => "video"%>
   <div class="header-container">

    <h1><b>Search for your favourite cocktail!</b></h1>
    <div class="new-search">
    </div>
  </div>

  </div>




<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All cocktails</h1>
      <ul class="list-group">

        <% @cocktails.each do |cocktail| %>
          <li class="list-group-item">
            <%= cl_image_tag("cocktail", width: 300, height: 200, crop: :fill) %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
