<style>
body{
  background-color: black;

} </style>
<div class="container background-color">
<div class = "navbar sticky-top navbar-light bg-light">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="#">Area <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">genre</a>
      </li>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="keyword..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">


      <h1>most luxurious cocktails bar in the world</h1>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/di7x1ao0a/image/upload/v1550907183/cocktail2.jpg');">
  <div class="container">
    <h1><strong>All</strong> cocktails</h1>

    <p>We labour over flavour so you can perhaps savour</p>
    <a class="btn btn-primary btn-lg">Book a Table</a>
  </div>
 </div>
</div>

<div>

  <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/di7x1ao0a/image/upload/v1550908894/cocktail3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Martini</h5>
      <p class="card-text">The martini is a cocktail made with gin and vermouth, and garnished with an olive or a lemon twist.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/di7x1ao0a/image/upload/v1550905097/cocktail1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Iceland</h5>
      <p class="card-text">There are various types of cocktails, based on the number and kind of ingredients added.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>A cocktail is an alcoholic mixed drink, which is either a combination of spirits, or one or more spirits mixed with other ingredients</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">C</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="https://res.cloudinary.com/di7x1ao0a/image/upload/v1550856183/araqvvyfpsifre224rjh.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Ready for summer!</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>









</div>
      <ul class="list-group">

          <li class="list-group-item">
            <%= cl_image_tag("cocktail3", width: 350, height: 200, crop: :fill) %>
             <%= cl_image_tag("cocktail1", width: 350, height: 200, crop: :fill) %>
        <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/di7x1ao0a/image/upload/v1550922931/bar.jpg)">
  Evening Lounge Bar in London
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
