.header-component .header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}
*, :after, :before {
    box-sizing: inherit;
}
*, a {
    text-decoration: none;
}

.header-container {
  position: relative;
  top: -70vh;
  text-align: center;
  color:lightgrey;
}


