.cocktail-container {
margin-left: 35%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.91);
border-radius:10px;
}

.recipe-review-container{
margin-left: 35%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.91);
border-radius:10px;
}

.container {
  display:flexbox;
}
