<header>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href="#">Home</a>
          </li>

          <li class="item">
            <a href="#">Blog</a>
          </li>

          <li class="item">
            <a href="#">About</a>
          </li>

          <li class="item">
            <a href="#">Contact</a>
          </li>
        </ul>


      </div>
    </header>
