<header>
      <div class="navbar">
        <ul class="nav">
          <li class="item">
            <a href=> <%= link_to "Home", root_path  %></a>
          </li>

          <li class="item">
            <a href=><%= link_to "Add a new cocktail",  new_cocktail_path%></a>
          </li>

         <li class="item" style = "width:25px;">
         <i class="fas fa-cocktail"></i>
        </li>
        </ul>


      </div>
    </header>
