.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px 50px;
  color: rgba(0,0,0,5);
}
.footer-links {
  display: flex;
  align-items: center;
  text-align: center
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


footer {
  min-height: 120px;
  padding: 40px 0 40px 0;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
  box-sizing: border-box;
}
footer p {
  color: #FFFFFF;
  margin: 20px 0 0 0;
}
.socialIcons {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.7);
}
/* Lists
********************************************************************* */

